Web References/WsCFDI/TimbradoWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://service.timbrado.xpd.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimbradoWSService" targetNamespace="http://service.timbrado.xpd.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://service.timbrado.xpd.mx/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="timbrar" type="tns:timbrar" />
      <xs:element name="timbrarResponse" type="tns:timbrarResponse" />
      <xs:complexType name="timbrar">
        <xs:sequence>
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
          <xs:element minOccurs="0" name="contrasena" type="xs:string" />
          <xs:element minOccurs="0" name="cfdi" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="timbrarResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:respuestaTimbrado" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaTimbrado">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
          <xs:element minOccurs="0" name="timbre" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="timbrar">
    <wsdl:part name="parameters" element="tns:timbrar" />
  </wsdl:message>
  <wsdl:message name="timbrarResponse">
    <wsdl:part name="parameters" element="tns:timbrarResponse" />
  </wsdl:message>
  <wsdl:portType name="Timbrado">
    <wsdl:operation name="timbrar">
      <wsdl:input name="timbrar" message="tns:timbrar" />
      <wsdl:output name="timbrarResponse" message="tns:timbrarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradoWSServiceSoapBinding" type="tns:Timbrado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="timbrar">
      <soap:operation soapAction="timbrar" style="document" />
      <wsdl:input name="timbrar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="timbrarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradoWSService">
    <wsdl:port name="TimbradoPort" binding="tns:TimbradoWSServiceSoapBinding">
      <soap:address location="http://timbrado.expidetufactura.com.mx:8080/produccion/TimbradoWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>